### env ###
.env
env.gitconfig

### IDEs ###
.idea/
.vscode/

### Temp ###
*.tmp

### Log ###
*.log

### Backup ###
*.bak

### non-root documentation ###
**/README*
!/README.md
**/LICENSE*
!/LICENSE

### Zsh ###
*.zhistory
*.zsh_history
*.zcompdump

### Mozilla ###
.mozilla/
**/profiles.ini
**/places.sqlite
**/logins.json
**/key4.db
**/cert9.db
**/cookies.sqlite
**/sessionstore.jsonlz4
**/storage/
**/webextstore/
**/extensions/
**/*.sqlite
**/*.db
