### env ###
.env

### IDEs ###
.idea/
.vscode/

### Temp ###
*.tmp

### non-root documentation ###
**/README*
!/README.md
**/LICENSE*
!/LICENSE

### Zsh ###
*.zhistory
*.zsh_history

### Mozilla ###
.mozilla/
**/profiles.ini
**/places.sqlite
**/logins.json
**/key4.db
**/cert9.db
**/cookies.sqlite
**/sessionstore.jsonlz4
**/storage/
**/webextstore/
**/extensions/
**/*.sqlite
**/*.db
